html {
    font-size: 72.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-size: 72.5%;
}


body {
    font-size: 24%;
    background-color: #f8eac1;
    font-family: "Poppins", sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10%;
    height: 6.5rem;
    background-color: rgb(30, 39, 49);
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3);
}

.header-links {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header-links div {
    display: flex;
}

.header-links li {
    margin-left: 50px;
}

.header-links li a {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.04rem;
    transition: 0.2s;

}

.header-links li a:hover {
    color: #f6e385;
    border-bottom: 0.2rem solid #f6e385;
    padding: 0.5rem 0;
}

.news-container {
    padding: 2rem 9%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
    gap: 1.9rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.news-card {
    align-items: center;
    background-color: rgb(30, 39, 49);
    border-radius: 8%;
    height: 28rem;
    width: 25rem;
    padding-top: 1rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.news-card:hover {
    background-color: #171616;
    scale: 1.1;
    transition: 0.2s;
}

.news-card a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-card img {
    width: 80%;
    border-radius: 5%;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.news-title {
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5em;
}

.news-date {
    color: #fff;
    font-size: 1rem;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.news-detail-overlay {
    margin-top: rem;
}

.news-detail {
    align-items: center;
    background-color: rgb(30, 39, 49);
    border: 1px solid rgb(51, 51, 51);
    border-radius: 10px;
    color: #fff;
    display: flex;
    font-size: 3rem;
    height: 80%;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#news-detail-left {
    width: 50%;
    height: 100%;
    display: flex;
    background-color: #171616;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.news-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#news-detail-right {
    width: 60%;
    height: 80%;
    padding: 15px;
}

#news-detail-right h1 {
    font-size: 2rem;
    color: #f6e385;
}

#news-detail-right p {
    text-transform: none;
}


.news-content {
    font-size: 1.50rem;
    line-height: 1.5;
}

.news-author,
.news-date,
.news-categories {
    font-size: 1.3rem;
    margin: 10px;
}

.news-categories-container {
    color: #000;
    background-color: #fff;
    margin-bottom: 10px;
}



.categories-form {
    align-items: center;
    background-color: rgba(30, 39, 49, 0.952);
    border: 1px solid rgb(51, 51, 51);
    border-radius: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    justify-content: space-around;
    margin-top: 60px;
    padding-top: 20px;
    text-align: center;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news-form {
    align-items: center;
    background-color: rgba(30, 39, 49, 0.952);
    border: 1px solid rgb(51, 51, 51);
    border-radius: 20px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14pt;
    justify-content: space-between;
    margin-top: 60px;
    padding-top: 20px;
    text-align: center;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-section,
.right-section {
    width: calc(50% - 5px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.button-section {
    width: 100%;
    margin-top: 10px;
}

.news-form input,
.news-form textarea,
.news-form select {
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
    color: black;
    font-size: 1rem;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.news-form input[type="file"] {
    color: #fff;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.news-form input[type="file"]:hover {
    background-color: rgb(30, 40, 49);
}

#id_categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(30, 40, 49);
    border-radius: 10px;
    margin-top: 20px;
}

#id_categories div {
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    margin: 14px 0;
    width: 18%;
}

#id_categories label {
    font-size: 20px;
}

#id_categories div:hover {
    background-color: #f6e385;
    color: #000;
}

#id_categories label {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    padding: 0 10pt;
    word-wrap: break-word;
}


#id_image:hover {
    cursor: pointer;
}

#id_categories input[type="checkbox"] {
    border: none;
    height: 15px;
    width: 15px;
}

#id_categories input[type="checkbox"]:hover,
#id_categories label:hover {
    cursor: pointer;
}

.button {
    background-color: rgb(29, 111, 29);
    border-radius: 10px;
    color: rgb(220, 220, 220);
    cursor: pointer;
    font-size: 14pt;
    margin: 20pt 0;
    padding: 15px;
    text-align: center;
    width: 20%;
}

.categories-form {
    font-size: 16pt;
    justify-content: space-evenly;
    height: 40vh;
    margin: auto;
    width: 40%;
}

#categories-fieldset {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-around;
    width: 100%;
}

#id_name {
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    font-size: 1.4rem;
    margin-left: 20px;
}

label {
    font-size: 1.4rem;
}