{% extends 'base.html' %}
{% load static %}


{% block title %}
Página Inicial
{% endblock %}


{% block content %}
<div class="news-container">
    {% for n in news %}

    <div class="news-card">
        <a href="{% url 'news-details-page' n.id %}">
            <h2 class="news-title">{{ n.title }}</h2>
            <span class="news-date">{{ n.created_at | date:"SHORT_DATE_FORMAT" }}</span>
        </a>
        {% if n.image %}
        <img class="news-image" src="{% static n.image.url %}" alt="Imagem sobre a notícia">
        {% endif %}

    </div>

    {% endfor %}
</div>
{% endblock %}